<div class="catalogPage">
  <div class="catalog-header">
    <div class="book-icons" href="#">
      <div class="book">
        <i class="fa-solid fa-book fa-2xl"></i>
      </div>
      <p>CampusBookTrade</p>
    </div>
    <form>
      <input class="search-bar" placeholder="なにをお探しですか？" />
      <img class="search-mark" src="../../../img/search.png" alt="search" />
    </form>
    <img class="icon" src="../../../img/user.png" alt="icon image" />
  </div>
  <div class="catalog-recommendation">
    <button type="button" class="btn btn-dark" href="#">
      <i class="fa-solid fa-camera fa-2xl"></i>
      <div>出品</div>
    </button>
    <ul class="item-container">
      <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
       <li class="item">
        <div class="img-box">
          <div class="img-background">
            <img
              class="item-img"
              src="../../../img/item.png"
              alt="reference book"
            />
          </div>
        </div>
        <div class="message">
          商品名
        </div>
        <div class="item-price">1000円</div>
      </li>
    </ul>
  </div>
</div>
