.recommendation {
  .message {
    margin-bottom: 16px;
    color: #666666;
    font-size: 17px;
    font-weight: 700;
  }
  button {
    display: block;
    position: fixed;
    z-index: 1;
    border-radius: 90px;
    font-size: 35px;
    bottom: 0;
    right: 0;
    text-align: end;
    //bottomとheightの値はfooter全体のheightによって調整必要
  }
  .item-container {
    display: grid;
    padding: 0;
    margin: 0;
    grid-gap: 20px;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
    @media screen and(max-width:960px) {
      grid-gap: 0;
      list-style: none;
      grid-template-columns: repeat(3, 1fr);
      .item {
        border: 1px solid;
        border-color: white;
        .message {
          display: none;
        }
      }
    }
  }
}
